@import '../../assets/styles/variables.scss';

.subscribe-box{
  max-width: 640px;
  width: 100%;
  margin:0 auto;
  text-align: center;
  padding: 2rem;

  &--v-align{
    position: relative;
    top: 50%;
    transform: translateY(-80%);
  }

  &--d-shadow{
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  }

  &-message{
    font-size: 0.85rem;
    color: $black-color-dimmer-3;
  }

  &-agreement {
    text-align: left;
    > label {
      font-size: 0.8rem;
      color: $black-color-dimmer-4;
    }
  }

  .icon {
    width: 40px !important;
    height:40px !important;
    margin-bottom: 10px;
    color: $black-color-dimmer-6;
  }

  form {
    max-width: 380px;
    margin: 0 auto;
  }

  @media screen and (max-width: $small-screen) {
    padding: 0;
  }
}
