.uni-list-container{
  .uni-list {
    display: flex;
    flex-wrap: wrap;

    &-item {
      margin: 6px;
      max-width: 368px;
      width: 100%;
      // flex: 1 1 33%;

      &:last-child{
        margin-right: 0;
      }
    }

    .card{
      height: 100%;
      // box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15) !important;
      &-title{
        margin-bottom: 0;
        font-size: 1rem;
      }

      .website-links-wrapper{
        margin-top: 0.6rem;
      }

      .country-info-wrapper{
        font-size: 0.85rem;
        color: rgba(0,0,0, 0.7);
      }

      .sub-title{
        font-size: 0.85rem;
        color: rgba(0,0,0, 0.6);
      }
    }
  }
}

.search-container{
  position: relative;
  display: flex;

  > input {
    transition: width .3s;
    width: 25%;
    &:focus{
      width: 50%;
    }
  }

  .react-autosuggest__container{
    width: 50%;
    > input {
      padding: .375rem .75rem;
      border: 1px solid #ced4da;
      border-radius: .25rem;
      &:focus{
        width: 80%;
      }
    }

  }

  .react-autosuggest__suggestions-container--open {
    display: block;
    position: absolute;
    top: 38px;
    width: 300px;
    border: 1px solid #aaa;
    background-color: #fff;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    font-size: 16px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    max-height: 200px;
    overflow-y: auto;
    z-index: 2;

    li {
      padding: 5px 15px;

      &:hover{
        background-color: #f1f1f1;
      }
    }
  }

}

.search-result-header{
margin-left: 10px;
  small{
    color: rgba(0,0,0,0.6);
    margin-top: -2px;
    display: block;
  }
}
