/*Override default styles*/

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a,
.btn-link{
  color: $link-color;
}

a:hover,
.btn-link:hover{
  text-decoration: none;
  color: $link-color;
  opacity: 0.8;
}

.navbar{
  box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 12px ;
  background-color: #fff;

  .brand-name{
    color: #4373FC;
  }

  .navbar-brand{
    position: relative;
  }

  .icon{
    width: 25px !important;
      height: 25px !important;
      position: absolute;
      transform: rotate3d(1, 1, 1, 45deg);
      top: 2px;
      right: -24px;
      color: rgba(0,0,0,0.65);
  }

  .nav-link.active {
    color: $link-color !important;
  }
}

body {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
  font-size: 16px;
  line-height: 1.5;
  color: #24292e;
  background-color: #f9f9f9;
}

.main-container{
  max-width: 760px;
  // max-width: 1140px;
  margin: 56px auto 0;
  overflow: auto;

  &--full-height{
    height: calc(100vh - 56px);
  }

  @media screen and (max-width: $medium-screen) {
    padding: 0 14px;
  }

  @media screen and (min-width: $big-screen) {
    max-width: 1140px;
  }
}

.icon{
  color: rgba(0,0,0,0.3);
  margin-right: 10px;
  width: 14px !important;
  height: 14px !important;
}
