/*Override default styles*/

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a,
.btn-link{
  color: $link-color;
}

a:hover,
.btn-link:hover{
  text-decoration: none;
  color: $link-color;
  opacity: 0.8;
}

.navbar{
  box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 12px ;
  background-color: $navbar-bg-color;

  .brand-name{
    color: $brand-color;
  }

  .navbar-brand{
    position: relative;
  }

  .icon{
    width: 25px !important;
    height: 25px !important;
    position: absolute;
    transform: rotate3d(1, 1, 1, 45deg);
    top: 2px;
    right: -24px;
    color: rgba(0,0,0,0.65);
  }

  .nav-link.active {
    color: $link-color !important;
  }
}

body {
  font-family: $body-font-family;
  font-size: 16px;
  line-height: 1.5;
  color: $body-font-color;
  background-color: $body-bg-color;
}

.main-container{
  max-width: 760px;
  margin: 56px auto 0;
  overflow: auto;

  &--full-height{
    height: calc(100vh - 56px);
  }

  @media screen and (max-width: $medium-screen) {
    padding: 0 14px;
  }

  @media screen and (min-width: $big-screen) {
    max-width: 1140px;
  }
}

.icon{
  color: $black-color-dimmer-7;
  margin-right: 10px;
  width: 14px !important;
  height: 14px !important;
}

.search-input-wrapper {
  width: 100%;
  position: relative;

  .icon {
    position: absolute;
    top: 12px;
    left: 12px;
  }

  input{
    padding-left: 32px;
  }
}

/*No result component*/
.no-result{
  display: flex;
  padding: 2rem;
  border: 1px solid rgba(0, 0, 0, 0.125);
  justify-content: center;
  align-items: center;

  &-body {
    text-align: center;
    .icon {
      width: 40px !important;
      height: 40px !important;
    }
  }

  &-message{
    color: $black-color-dimmer-6;
    font-size: 1.1rem;
    font-style: italic;
    font-weight: 300;
  }

  &--w-bg {
    background-color: #fff;
  }
}
